<?xml version="1.0"?>

<model>
  <name>simple_crop</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Igor Ferreira da Costa</name>
    <email>ifcosta93@gmail.com</email>
  </author>

  <description>
    A randomized plantation field built for the soybot simulation
  </description>

</model>
